.headerFavorites {
    margin: 40px 0;
    min-height: 100%;

    .headerTitle {
        margin-bottom: 40px;
        display: flex;

        .back {
            cursor: pointer;
        }

        h1 {
            font-weight: 700;
            font-size: 32px;
            margin-left: 20px;
        }
    }
}

.favoritesCard {
    display: flex;
    flex-wrap: wrap;
    margin-right: -40px;
}